@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #150069;
    --clr-main-light: #aa9dde;
    --clr-white: #ffffff;
    --clr-gray: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


.info{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.producto-precio{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .6rem;
    text-align: center;
    border-radius: 2rem;
}

.producto-agregar {
    width: 100px;
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .5rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}
.imagen{
    display: flex;
    display: flex;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    

}
.camisa-1{  
    width: 10%;

}
.Name{  
    width: 20%;
    display: flex;
    justify-content: center;
    

}
.point{ 
    width: 100%;
    justify-content: center;
}
.cantidad   {
    display: flex;
    width: 25%;
    justify-content: center;
}
.producto-agregar-1{  
    display: flex;
    width: 25%;
    justify-content: center;
}
.subtotal{  
    display: flex;
    justify-content: center;
    width: 25%;
}


.n{
    font-size: 70px;
    width: 100%;
    
}
main.info-datas {
    margin-top: 36px;
    display: grid;
    grid-gap: 20px;
    
}   
.o{ 
    width: 40%;
    
        width: 40%;
        display: flex;
        justify-content: end;
      
}
main .card .head p {
    font-size: 20px;
    display: flex;
    justify-content: end;
  }
