@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #150069;
    --clr-main-light: #aa9dde;
    --clr-white: #ffffff;
    --clr-gray: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


.info{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.producto-precio{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .6rem;
    text-align: center;
    border-radius: 2rem;
}

.producto-agregar {
    width: 100px;
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .5rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


